h2 {
  color: red;
  background: yellow;
}
section {
  background: rgb(243, 255, 227);
}
header {
  padding-left: 10px;
  border: 3px solid black;
  background: #042332;
  color: white;
}
#title {
  font-size: 60px;
}
#banner {
  width: 400px;
  height: auto;
  float: left;
}
